@mixin title {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

@mixin title-txt {
  font-size: 2rem;
  color: #fff;
  margin-left: 6px;
}

@mixin title-icon {
  font-size: 2rem;
  color: #fff;
}