 * {margin: 0; padding: 0; color: #fff;}
 ul li {list-style: none;}
 
 body {
  background-color: rgb(26, 26, 26);
 }

.App {
  display: flex;
  flex-direction: row;
  .content {
    position: relative;
    width: 100%;
  }
}